@font-face{
  font-family: 'MyFont';
  src: url("/font/FZゴンタかな.otf");
}
@font-face{
  font-family:  'ListFont';
  src: url("/font/GN-KillGothic-U-KanaNB.ttf");
}

*{
  background-color:#F5F5F5;
}
.container{
  margin:0 10%;
}
.title{
  width: 760px;
  margin: auto;
  h1{
    font-family: MyFont;
    text-align: center;
    font-size: 108px;
    margin-bottom: 0px;
    color: #E80100;
  }
  p{
    text-align:right;
    font-family:Krungthep;
    font-size:28px;
    margin: 0 ;
  }
}

hr {
height:0px;
  border-radius: 2px;
  border: 2px solid hsl(0, 5%, 12%);
  width: 80%;
  margin: auto;
}

.menu{
  margin-left: 150px;

}
.menu-content{
  list-style: none;
  font-family: ListFont;
  font-size: 60px;
  display: inline;
  margin:0 40px 0  40px;
}
