@font-face{
  font-family: 'MyFont';
  src: url("FZゴンタかな.otf");
}
*{
  background-color:#F5F5F5;
}

div.title{
  width: 760px;
  margin: auto;
}
h1.title {
  font-family: MyFont;
  text-align: center;
  font-size: 108px;
  margin-bottom: 0px;
  color: #E80100;
}

p.title {
  text-align:right;
  font-family:Krungthep;
  font-size:28px;
  margin: 0 ;
}

hr {
height:0px;
  border-radius: 2px;
  border: 2px solid hsl(0, 5%, 12%);
  width: 80%;
  margin: auto;
}

.menu{
  list-style: none;
}